:root {
  --box-background-color: rgb(241, 241, 241);
  --button-padding: 8px 20px;
}
/* -- Global -- */
body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}
h1{
  margin: 0;
  padding-left: 20px;
  color: #f2f2f2;
  font-weight: 400;
}
main{
  max-width: 900px;
  margin: 0 auto;
}
section{
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
button{
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-size: 200% auto;
  font-size: 12px;
  width: 40%;
  max-height: 30px;
}
button:hover{
  background-position: right center;
}
.box, .box-100{
  background-color: var(--box-background-color);
  border-radius: 12px;
  height: 220px;
  align-items: center;
  margin: 6px;
}
.box{
  position: relative;
  padding: 16px;
  width: 180px;
}
.box-100{
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  width: 90%;
  padding: 30px;
}
.justify-center{
  display: flex;
  justify-content: center;
}
.space-evenly{
  display: flex;
  justify-content: space-evenly;
}
.float-right{
  float: right;
}
.yellow{
  background-image: linear-gradient(to right, #fbff25 0%, #f7db82 51%, #fbff25 100%);
  border: 1px solid rgb(175, 175, 20);
}
.green{
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  border: 1px solid rgb(18, 153, 112);
}
.blue{
  background-image: linear-gradient(to right, #4967ee 0%, #8fd3f4 51%, #4967ee 100%);
  border: 1px solid rgb(19, 60, 175);
}
.red{
  background-image: linear-gradient(to right, #df2727 0%, #ffb94f 51%, #df2727 100%);
  border: 1px solid rgb(175, 15, 15);
}
.purple{
  background-image: linear-gradient(to right, #ab27df 0%, #dc4fff 51%, #ab27df 100%);
  border: 1px solid rgb(148, 15, 175);
}
.light-blue{
  background-color: rgb(90, 214, 236);
  border: 1px solid rgb(21, 133, 161);
}
/* -!- Global -!- */

/* -- Header -- */
header{
  margin: 0;
  height: 80px;
  width: 100%;
  background-color: rgb(65, 65, 65);
}
#logo{
  width: 800px;
  text-align: left;
  transform: translateY(50%);
  margin: auto;
}
/* -!- Header -!- */

.balance{
  float: right;
}
.text-col{
  text-align: left;
  margin-left: 10px;
}
#loan-btn{
  width: 80%;
}
#promo-btn{
  margin: 40px 0;
  text-align: center;
  visibility: hidden;
}
#promo-text{
  position: absolute;
  color: green;
  text-align: center;
  font-size: 12px;
  visibility: hidden;
}
#repay-btn{
  margin: 40px 0;
  text-align: center;
  height: 40px;
  visibility: hidden;
}
@keyframes box-shadow-anim{
  0% {box-shadow: 0px 0px 15px 10px #becef800;}
  40% {box-shadow: 0px 0px 15px 15px #b5ffda; background-color: #65eca9;}
  60% {box-shadow: 0px 0px 15px 15px #b5ffda; background-color: #65eca9; border-color: rgb(75, 207, 75);}
  100% {box-shadow: 0px 0px 15px 10px #becef800;}
}
#buy-btn:hover{
  animation: box-shadow-anim 1s infinite;
}
.float-bottom{
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.error-text{
  text-align: center;
  color: red;
  font-size: 12px;
  visibility: hidden;
}
#spec-list{
  list-style-type: none;
}
#spec-list:before{
  content:attr(aria-label);
  margin-left: -15px;
  font-weight: bold;
}
#spec-list > li{
  font-size: 10px;
}
#laptop-img{
  width: 150px;
  color: transparent;
}
#laptop-stock-text{
  margin: 0;
}
#buy-error-text{
  position: absolute;
  margin-top: 1rem;
  transform: translateX(25%);
}
